/* eslint-disable-next-line */

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

//Nav style

.topNavColumn {
  width: 100%;
  height: 20vh;
  background-color: #D4A8A8;
  display: flex;
  flex-direction: column;
  .topNav {
    height: 30px;
    background-color: #D4A8A8;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px white solid;
    a {
      color: white;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .logo img{

    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: -1.6px;
  }
}//end of top nav

.bodyNavColumn {
  width: 100%;
  background-color: #D4A8A8;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .bodyTopNav {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-weight: bold;
    justify-content:center;
    margin-top: 1%;
    }
  .line{
    width: 80%;
    display: flex;
    justify-content:center;
    margin: auto;
    border-bottom: 1px solid white;
  }
  a{
    color: white;
    text-decoration: none;
    margin-right: 8px;
  }
}//body NavColumn

.Welcome {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  img{
    width: 100%;
    height: 100%;
    grid-column: 2 /3;
    grid-row: 1 / 5;
  }
  .leftOfImg {
    grid-column: 1 /2;
    grid-row: 1 / 5;
    color: green;
    background-color: #022635;
  }
  .rightOfImg {
    grid-column: 3 /4;
    grid-row: 1 / 5;
    background-color: #AC6E6E;
  }
}

.EventList {
  width: 100%;
  height: 80vh;
}

.EventCard{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 10px;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
  h1 {
    position: absolute;
  }
  .concert{
    grid-column: 1 /2;
    grid-row: 1 / 3;
    background-color: red;
  }
  .art{
    grid-column: 2 /3;
    grid-row: 1 / 3;
    background-color: green;
  }
  .location{
    grid-column: 2 /3;
    grid-row: 3 / 5;
    background-color: orange;
  }
  .sports{
    grid-column: 1 /2;
    grid-row: 3 / 5;
  }
}

#demo-2 {
  position: absolute;
  top: 70%;
  right: 50%;
  color: white;
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px white;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: transparent;
	border-color: white;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: white;
}
input::-webkit-input-placeholder {
	color: white;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: transparent;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: white;
	background-color: transparent;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
