/* eslint-disable-next-line */

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Welcome {
  width: 100%;
  img{
    width: 100%;
    height: auto;
  }
}

.link {
  color: white;
  text-decoration: none;
}

.Nav {
  background-color: lightgray;
}
